.Error {
    color: red;
    margin-top: 3px;
    width: 620px;
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
}

.TextAreaForm {
    width: 500px;
    height: 130px;
}

.ButtonConfirmEvalaution {
    width: 100%;
    background-color: darkslateblue;
    color: white;
}