.CardSection {
    margin-bottom:20px;
    position:relative;
}

.DetailButton {
    height:30px;
    padding:3px;
    width:70px;
    float:left;
    width:100px;
    font-weight:bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.514)
}

.ModidyButton{
    height:30px;
    padding:3px;
    width:70px;
    float:right;
    width:100px;
    font-weight:bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.514)
}

.Badge {
    position:absolute;
    top:0;
    right:0
}