.FormSection {
    text-align: center;
}

.TitleForm {
    font-size: 45px ;
    height: 54px;
    color:#D04747;   
}

.TitleFormSuccess {
    font-size: 45px ;
    height: 54px;
    color:rgb(12, 160, 12);   
}

.FormLabel {
    font-weight: bold;
}

.InputRegistration {
    width: 650px;
    margin-right: 5px;
    font-size:large;
    letter-spacing: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline:none;
}

.FlexInputAndIcon {
    display: flex;
    flex-direction: column ;
}

.Button {
    width: 75%;
    height: 70px;
    background-color: #D04747;
    font-size: 1.8em;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 30px;

}

.Button:disabled {
    background-color: linear-gradient(90deg, rgba(208, 71, 71, 0.6) 0%, rgba(254, 142, 142, 0.6) 100%);;
}

.Error {
    color: red;
    margin-top: 3px;
    width: 620px;
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
  
}

.buttonLogin {
    background-color: #D04747;
    border-radius: 25px;
    border-color: #D04747;
    width: 30%;
}