.OvalItem {
    width: 150px;
    height: 100px;
    background-color: white;
    border-radius: 18px;
    padding-top: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.TicketDone{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: green;
    color: white;
    top: 0;
    right: 0;
}

.TicketPending{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: red;
    color: white;
    bottom: 0;
    right: 0;
}