.LeftSection {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.388);
    margin-top: 35px;
    width: 45%;
    text-align: center;
    margin-left: 300px;
}

.HeaderLeftSection {
    width: 100%;
    text-align: center;
    background-color: rgb(230, 53, 53);
}


.HomeTitle {
    color: white;

}

.ButtonUpload {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.388);
    margin-bottom: 15px;
}
