.OfferItem {
    margin-top: 50px;
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.514);
    border-radius: 20px;
    position: relative;
}

.Prix {
    position: absolute;
	border-radius: 20px 20px 20px 0;
	background-color: #D04747; ;
	color: white;
	padding: 8px;
	right: 0;
	top: 0;
	font-weight: bold;
}

.ButtonOffre {
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    width: 95%;
    background-color: #D04747;
    margin-bottom: 8px;
    border-radius: 10px;
}