
.SingleInput {
    display:flex;
    flex-direction:column;
}

.InputModal {
    font-size:large;
    letter-spacing: 10px;
}

.ButtonUpload {
    margin-top: 20px;
    height: 50px;
    width: 151%;
    border-radius: 18px;
    border-color: red;
    font-size: 1.4em;
    font-weight: bold;
}