.DocItem {

    margin-bottom: 35px;
    position: relative;
    border: none;
    height: 155px;
    width: 450px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.514);
    padding-left: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;

}

.DocItemLeft{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.ItemText {
    margin-bottom: 5px;
}

.ButtonConsulter {
    height: 40px;
    width: 325px;
    background-color: rgb(13, 107, 178);
    font-weight: bold;
    margin-right: 15px;
    border-radius: 10px;
    color:white;
}

.DocItemRight {
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../../../../../assets//img//CV.png);  
    background-size: 100px 100%;
    background-repeat: no-repeat;
}