.SideComponent {
    height: 100vh;
    width: 300px;
    background-color: silver;
    left: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
}

h4 {
    margin-bottom: 30px;
}
