.EvaluationItem {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.514);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 40px;
    width: 400px;
}

.EvaluationItemSpace {
    display: flex;
    flex-direction: row;
}


.HeaderEvaluationDone {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #73d13d;
}

.HeaderEvaluationPending {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #40a9ff;
}

.EvaluationItemLeft {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

.ItemText {
    margin-bottom: 5px;
}

.EvaluationItemRight {
    padding:35px;
    width: 35%;
}
