.Body {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.TitlePage {
    font-size: 45px ;
    height: 54px;
    color:#D04747;   
    text-align: center;

}

.OffreList {
    list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}