.DocumentPage {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.LeftSection {
    width: 60%;
    height: 100vh;

}

.RightSection {
    width: 40%;
    height: 100vh;
}

h1 {
    text-align: center;
}