.CoverCard {
    width: 100%;
    height: 300px;
    background-image: url(".././../../../../assets/img/CV.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.EvaluationButton {
    margin-top: 30px;
    width: 100%;
    background-color: var(--red);
    color: white;
}