.header {
    background-color: #858585;
    width: 100vw;
    height: 15vh;
}

.Logo {
    width:159px;
    height:77px; 
    float:left;
    margin-left:32px;
    margin-top:9px;
 }

 .Avatar {
   float: right;
   margin-top: 20px;
   margin-right: 80px;
 }

 .ButtonNav {
    margin-right: 50px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 1.3em;
 }
 