.FormSection {
    text-align: center;
}

.TitleForm {
        font-size: 45px ;
        height: 54px;
        color:#D04747;   
        margin-bottom: 70px;
}

.SingleInputSection {
    margin-bottom: 15px;
    text-align: center;
}

.FormLabel {
    font-weight: bold;
}

.buttonLogin {
    background-color: var(--red);
    border-radius: 25px;
    border-color: var(--red);
    width: 50%;
}

.InputLogin {
    width: 650px;
    margin-right: 5px;
    font-size:large;
    letter-spacing: 10px;
    border-top: none;
    border-right: none;
    border-left: none;

}

.Button {
    width: 700px;
    height: 73px;
    background-color: #D04747;
    font-size: 1.8em;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    margin-bottom: 35px;
}

.Error {
    color: red;
    margin-top: 3px;
    width: 620px;
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
}