.CreatorItem {
    margin-top: 50px;
}

.CreatorSection {
    width: 400px;
    height: 400px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.514);
    text-align: center;
    border-radius: 12px;
}

.TitleSection {
    text-align: center;
}


.FormLabel {
    font-weight: bold;
    margin: 0;
}


.InputMeeting {
    width: 250px;
}


.Error {
    color: red;
    margin-top: 3px;
    width: 620px;
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
}