.SpaceContent {
    display: flex;
    flex-direction: row;

}

.LeftSection {
    width: 60%;
}

.FormSection {
    padding: 25px;
    margin-top: 120px;
}

.BannerSectionRegistration {
    height: 450px;
    width: 538px;
    margin-left: 25px;
    margin-right: 0;
    padding-right: 0;
    background-image: url(../../../assets/img/inscriptionBanner.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.OfferSection {
    text-align: center;
    padding-top: 10px;
}

.TitlePlan{
    text-align: center;
    font-family: 'Founders Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.145em;
    color: #D04747;
    width: 580px;
}

.BannerSectionLogin {
    width: 615px;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(208, 87, 71, 0.4) 45.83%, rgba(208, 71, 71, 0) 100%),url(../../../assets/img/connexionBanner.png);
    background-size: 615px 800px;
    background-repeat: no-repeat;
}

.NavBar {
    background-color: #858585;
    width: 60%;
    height: 145px;
    z-index: 100;
    position: fixed;

}

.ButtonNav {
    width:218px;
    height:56px;
    background-color:#D04747;
    border-radius:26px;
    color:#ffff;
    border:none;
    float:right;
    margin-right:32px;
    margin-top:47px;
    font-weight:bold;
    font-size: 1.45em;
}

.Logo {
   width:159px;
   height:77px; 
   float:left;
   margin-left:32px;
   margin-top:32px;
}

.TitleOffer {
    font-weight: bold;
    font-family:' Founders Grotesk';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.145em;
}

.Description {
    font-family: 'Founders Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.145em;
}
