.HistoriqueHome {
    display: flex;
    flex-direction: column;
}

.RightSectionTitle {
    text-align: center;
    color: var(--red);

}

.SignalForfait {
   font-size: 1em;
}

.RightSection {
    margin-top: 35px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.388);
    width: 25%;
    height: 100%;
}